<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppInspection</key>
	<string>$(APP_INSPECTION)</string>
	<key>AppSuitServer</key>
	<string>${APPIRON_URL}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cereal</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaod518fc58b4558ef9f39f2e6152bdb395</string>
			</array>
		</dict>
	</array>
	<key>CONSOLE_OS_LOG</key>
	<string>$(OS_LOG_ENABLED)</string>
	<key>GAI_TRACKING_KEY</key>
	<string>UA-153393422-1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>d518fc58b4558ef9f39f2e6152bdb395</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cengold</string>
		<string>kakaod518fc58b4558ef9f39f2e6152bdb395</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>scardcertiapp</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>kb-acp</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>citispay</string>
		<string>shinsegaeeasypayment</string>
		<string>kakaotalk</string>
		<string>tswansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>citimobileapp</string>
		<string>payco</string>
		<string>hanaskcardmobileportal</string>
		<string>wooripay</string>
		<string>lpayapp</string>
		<string>hanawalletmembers</string>
		<string>tauthlink</string>
		<string>ktauthexternalcall</string>
		<string>upluscorporation</string>
		<string>liivbank</string>
		<string>kb-bankpay</string>
		<string>naversearchthirdlogin</string>
		<string>lmslpay</string>
		<string>com.wooricard.wcard</string>
		<string>newliiv</string>
		<string>NewSmartPib</string>
		<string>kbbank</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>Server</key>
	<string>${HOST_SERVER_URL}</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>W_ENCIV</key>
	<string>${WALLET_ENC_IV}</string>
	<key>W_ENCKEY</key>
	<string>${WALLET_ENC_KEY}</string>
</dict>
</plist>
